
.menu-computadora{
    display: none;

}

.menu-celular{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right:20px;
    border-bottom: 2px solid black;
}
.menu_img-cel{
    height: 120px;
}