@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
body{
    overflow-x: hidden;
    margin: 0;
}
.menu-computadora{
    display: none;

}

.menu-celular{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right:20px;
    border-bottom: 2px solid black;
}
.menu_img-cel{
    height: 120px;
}

.menu-celular_desplegable{
    display: none;
    padding-top: 140px;
    background-color: white;
    position: absolute;
    height: 100%;
    width: 200px;
    top: 0;
    border-right: 1px solid black;
}

.menu-celular_desplegable-links{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 40px;
}
.contenedor-imagen-portada{
    text-align: center;
    margin-top: 20px;
}
.img-portada{
    height: 500px;
    object-fit: cover;
    
}
.contenedor-puntos{
    margin-top: 20px;
    justify-content: center;
    display: flex;
    gap: 20px;
}
.punto{
    border-radius: 50%;
    border: 2px solid black;
    width: 10px;
    height: 10px;
}

.mapa-peru{
    height: 210px;
}
.contenedor-envios{
    
    padding: 20px;
    margin-top: 40px;
    background: black;
    height: 620px;
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.envios{
    margin: auto;
    display: flex;
    background:white;
    width: 90%;
    font-size: 30px;
    gap: 30px;
    margin-bottom: 30px;
}
.envios-text{
    color: rgb(37, 25, 218);
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
.contenedor-envios-imt-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.marvisur{
    height: 110px;
}
.persona-pc{
    height: 210px;
}

.pie-de-pagina{
    margin-top: 30px;
    background: rgb(75, 74, 80);
    padding-top: 20px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-size: 14px;
    padding-bottom:10px;
}
.contenedor-iconos{
    border: 2px solid white;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
}
.icono{

}