body{
    overflow-x: hidden;
    margin: 0;
}
.menu-computadora{
    display: none;

}

.menu-celular{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right:20px;
    border-bottom: 2px solid black;
}
.menu_img-cel{
    height: 120px;
}

.menu-celular_desplegable{
    display: none;
    padding-top: 140px;
    background-color: white;
    position: absolute;
    height: 170%;
    width: 300px;
    top: 0;

}
a{
    text-decoration: none;
    color: black;
}
.menu-celular_desplegable-links{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 40px;
}
.menu-celular_desplegable-links_elemento{
    border-bottom: 2px solid black;
}