
.menu-computadora{
    display: none;

}

.menu-celular{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right:20px;
    border-bottom: 2px solid black;
}
.menu_img-cel{
    height: 120px;
}

.menu-celular_desplegable{
    display: none;
    padding-top: 140px;
    background-color: white;
    position: absolute;
    height: 100%;
    width: 200px;
    top: 0;
    border-right: 1px solid black;
}

.menu-celular_desplegable-links{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 40px;
}
.contenedor-img-portada{

    
}
.img-portada{
    height: 500px;
    object-fit: cover;
    
}
.contenedor-puntos{
    justify-content: center;
    display: flex;
    gap: 20px;
}
.punto{
    border-radius: 50%;
    border: 2px solid black;
    width: 10px;
    height: 10px;
}